@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Onest", Inter;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: .4rem;
}

body::-webkit-scrollbar-track{
    background: #0e0d0d;
}

body::-webkit-scrollbar-thumb{
    background: #ECBD0B;
    /* border-radius: 5px; */
}

.background-blur{
    background-color: #ECBD0B;
}

.bento-grid-bg-1{
    background: url(../src/assets/bento-card-bg-1.jpg);
}

.bento-grid-bg-2{
    background: url(../src/assets/bento-card-bg-2.jpg);
}

.bento-grid-bg-co-1{
    background: url(../src/assets/bento-card-bg-co-1.jpg);
}

.bento-grid-bg-co-2{
    background: url(../src/assets/bento-card-bg-co-2.jpg);
}

.bento-grid-bg-co-3{
    background: url(../src/assets/bento-card-bg-co-3.jpg);
}

.bento-grid-bg-co-4{
    background: url(../src/assets/bento-card-bg-co-4.jpg);
}

.bento-idea{
    background: url(../src/assets/bento-card-idea.png);
}

.bento-desk{
    background: url(../src/assets/bento-card-desk.png);
}

.bento-network{
    background: url(../src/assets/bento-card-member.png);
}

.bento-grid-bg-1, .bento-grid-bg-2, .bento-grid-bg-co-1, .bento-grid-bg-co-2, .bento-grid-bg-co-3, .bento-grid-bg-co-4, .bento-idea, .bento-desk, .bento-network{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }   
}

.intro{
    animation: fade-up 2s;
}

.testimonial-border{
    border: 1px solid #ECBD0B1F;
    border-bottom: 12px solid #ECBD0B;
}

.testimonial-border-black{
    border: 1px solid #ECBD0B1F;
    border-bottom: 12px solid #121212;
}

#animatedText span {
    transition: color .5s, font-weight .5s;
}

:root {
    --modal-duration: 1s;
    --modal-color: #ECBD0B;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
margin: 10% auto;
width: 60%;
box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
animation-name: modalopen;
animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
margin: 0;
}

.modal-header {
background: var(--modal-color);
padding: 15px;
color: #fff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.modal-body {
padding: 10px 20px;
background: #fff;
}

.modal-footer {
background: var(--modal-color);
padding: 10px;
color: #fff;
text-align: center;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.close {
color: #ccc;
float: right;
font-size: 30px;
color: #fff;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

@keyframes modalopen {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}