@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Onest";
}

body::-webkit-scrollbar{
    width: .5rem;
}
  
body::-webkit-scrollbar-track{
    background: #000;
}
  
body::-webkit-scrollbar-thumb{
    background: #ECBD0B;
}

.background-blur{
    background-color: #ECBD0B;
}

.bento-grid-bg-1{
    background-color: #ECBD0B;
    /* background: url(src/assets/bento-card-bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.bento-grid-bg-2{
    background-color: #000;
    /* background-image: url(assets/bento-card-bg-2.jpg); */
}